body {
    background-color: #25343F;
}

.gameFrame {
    margin: 0 auto;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9998;
    transition: opacity 0.2 ease;
}

.scoreBoard {
    background-color: #2a3a4a;
    padding: 20px;
    margin: 1rem auto;
    width: 20%;
    border-radius: 9999px;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #e0e0e0;
}

.bestScore {
    margin: 1rem auto;
    width: 20%;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #e0e0e0;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.boardRow {
    display: flex;
}

.tile {
    border-radius: 10%;
    margin: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    align-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.5rem;
    color: #25343F;
}

.gameOver {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px;
    border-top: 5px solid black;
    z-index: 9999;
    background-color: #ff3d2e;
    font-size: 3rem;
    color: #25343F;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: shake 0.5s;
}

.gameOver h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.5rem;
}

.retry {
    background-color: #EAEFEF;
    border: none;
    padding: 10px 20px;
    border-radius: 9999px;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    font-weight: bolder;
}

.retry:hover {
    background-color: #25343F;
    color: #EAEFEF;
    cursor: pointer;
}

.victory {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    border-top: 5px solid #1a1a1a;
    z-index: 9999;
    background-color: #ffcc00;
    font-size: 3rem;
    color: #25343F;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1s;
}

.victory h1 {
    font-family: "Bebas Neue", sans-serif;
    margin: 5px;
    font-size: 3.5rem;
}

.victory p {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    margin: 5px;
}

.hidden {
    display: none;
}

.resetBoard {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.resetBtn {
    font-family: "DM Sans", sans-serif;
    font-size: 1.3rem;
    background-color: #1a5276;
    color: #ffffff;
    border-radius: 9999px;
    padding: 10px 1rem;
    border: none;
    font-weight: bolder;
}

.resetBtn:hover {
    background-color: #ff3d2e;
    color: #ffffff;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) scale(5%);
    }

    60% {
        transform: translate(-50%, -50%) scale(115%);
    }

    100% {
        transform: translate(-50%, -50%) scale(100%);
    }
}

@keyframes shake {
    0% {
        transform: translate(-43%, -50%);
    }

    10% {
        transform: translate(-58%, -50%);
    }

    20% {
        transform: translate(-43%, -50%);
    }

    30% {
        transform: translate(-58%, -50%);
    }

    40% {
        transform: translate(-46%, -50%);
    }

    50% {
        transform: translate(-54%, -50%);
    }

    60% {
        transform: translate(-46%, -50%);
    }

    70% {
        transform: translate(-54%, -50%);
    }

    80% {
        transform: translate(-48%, -50%);
    }

    90% {
        transform: translate(-52%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}