body {
    background-color: #BFC9D1;
}

.gameFrame {
    margin: 0 auto;
}

.scoreBoard {
    background-color: #E0E0E0;
    padding: 20px 0;
    margin: 1rem auto;
    width: 20%;
    border-radius: 9999px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    color: #25343F;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.boardRow {
    display: flex;
}

.tile {
    background-color: #EAEFEF;
    border-radius: 10%;
    margin: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: larger;
    color: #25343F;
}

.gameOver {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px;
    border-radius: 25px;
    z-index: 9999;
    background-color: #FFC067;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: #25343F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retry {
    background-color: #EAEFEF;
    border: none;
    margin-top: -20px;
    padding: 10px 20px;
    border-radius: 9999px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bolder;
}

.retry:hover {
    background-color: #25343F;
    color: #EAEFEF;
    cursor: pointer;
}